<div class="mat-app-background basic-container">
  <input placeholder="{{'inputUserAutocompelete' | translate}}"
         #userFilterInput  
         type="text" 
         aria-label="select or create new"
         matInput
         [formControl]="myControl"
         (keyup)="keyup($event)"
         [matAutocomplete]="auto" >

  <mat-autocomplete class="matAutocomplete" #auto="matAutocomplete" 
   (optionSelected)="onselect($event.option.value)" >
    <mat-option *ngFor="let item of filteredItems | async" [value]="items">
      {{item[fieldName] | async}}
    </mat-option>
  </mat-autocomplete>
</div>
