<div class="mat-app-background basic-container">
  <input placeholder="{{'inputUserAutocompelete' | translate}}"
         #userFilterInput type="text" aria-label="select or create new"
         matInput [formControl]="myControl" [matAutocomplete]="auto" >

  <mat-autocomplete class="matAutocomplete" #auto="matAutocomplete" 
   (optionSelected)="onselect($event.option.value)" >
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{item[fieldName]}}
    </mat-option>
  </mat-autocomplete>
</div>


